extends layout

block content
  h1= title
  p Welcome my JADE sample page to #{title}
  p Mocha unit test case integrated
  p Sample application for Travis CI integration with NodeJS
    p
        a(href="/users") Navigate to new template/page
    br
    p
        a(href="/userlist") Navigate to array from JSON request object template/page